<!-- Button trigger modal -->
<button
	type="button"
	class="btn btn-primary"
	data-bs-toggle="modal"
	data-bs-target="#articleModal"
	(click)="mode = 'create'"
>
	Launch demo modal
</button>
<app-article-modal
	id="articleModal"
	[mode]="mode"
	(refreshArticles)="onSubmit()"
></app-article-modal>

<form>
	<div class="mb-3 row">
		<label
			for="table-complete-search"
			class="col-xs-3 col-sm-auto col-form-label"
			>Full text search:</label
		>
		<div class="col-xs-3 col-sm-auto">
			<input
				id="table-complete-search"
				type="text"
				class="form-control"
				name="searchTerm"
				[(ngModel)]="service.searchTerm"
			/>
		</div>
		<span class="col col-form-label" *ngIf="service.loading$ | async"
			>Loading...</span
		>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col" sortable="name" (sort)="onSort($event)">
					Titre
				</th>
				<th scope="col" sortable="area" (sort)="onSort($event)">
					Auteur
				</th>
				<th scope="col" sortable="population" (sort)="onSort($event)">
					Date
				</th>
				<th scope="col" sortable="population" (sort)="onSort($event)">
					Catégorie
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let article of articles$ | async">
				<th scope="row">{{ article.id }}</th>
				<td>
					<ngb-highlight
						[result]="article.title"
						[term]="service.searchTerm"
					></ngb-highlight>
				</td>
				<td>
					<ngb-highlight
						[result]="article.firstname | truncateFirstName"
						[term]="service.searchTerm"
					></ngb-highlight>
					<ngb-highlight
						[result]="article.lastname | titlecase"
						[term]="service.searchTerm"
					></ngb-highlight>
				</td>
				<td>
					<ngb-highlight
						[result]="article.created_at"
						[term]="service.searchTerm"
					></ngb-highlight>
				</td>
				<td>
					<ngb-highlight
						[result]="article.label"
						[term]="service.searchTerm"
					></ngb-highlight>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="d-flex justify-content-between p-2">
		<ngb-pagination
			[collectionSize]="(total$ | async)!"
			[(page)]="service.page"
			[pageSize]="service.pageSize"
		>
		</ngb-pagination>

		<select
			class="form-select"
			style="width: auto"
			name="pageSize"
			[(ngModel)]="service.pageSize"
		>
			<option [ngValue]="2">2 items per page</option>
			<option [ngValue]="4">4 items per page</option>
			<option [ngValue]="6">6 items per page</option>
		</select>
	</div>
</form>
