<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">
            <img src="/assets/logos/tcsellesIconeWhite.svg" class="d-inline-block align-top"
                alt="logo du tennis club">
            &nbsp; TC Selles
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTennisClub"
            aria-controls="navbarTennisClub" aria-expanded="false" aria-label="Toggle navigation" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarTennisClub">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="'active'">
                    <a *ngIf="sessionUser" class="nav-link" routerLink="/profile" (click)="isNavbarCollapsed = true">
                            <img [src]="DEFAULT_AVATAR" alt="avatar de l'utilisateur" class="d-inline-block align-top" height="20px">
                            {{ sessionUser.firstname }}&nbsp;{{ sessionUser.lastname }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <!-- Logged in -->
                <li *ngIf="authService.loggedIn()" class="nav-item">
                    <a class="nav-link" (click)="logout()" href="" (click)="isNavbarCollapsed = true">Se déconnecter</a>
                </li>
                <!-- Logged out -->
                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link" routerLink="/login" (click)="isNavbarCollapsed = true">Se connecter</a>
                </li>
                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link" routerLink="/register" (click)="isNavbarCollapsed = true">S'inscrire</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
